html, body {
	width: 100%;
	height: 100%;
}

body {
	background: #222;
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	color: #eee;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	/*overflow-y: hidden;*/
}

h1, h2, h3, h4 {
	font-family: "Clancy", "Roboto Slab", "Roboto", sans-serif;
	margin: 1em 0 0 0;
}

h1 {
	font-size: 2em;
}

h4 {
	font-weight: 500;
	font-size: 1.1em;
}

p {
	align-self: flex-start;
}

a {
	text-decoration: none;
}
a:hover,
a:active {
	text-decoration: underline;
}

/* ------------------------- */

body {
	background:
		linear-gradient(90deg, #222 20px, transparent 1%) center,
		linear-gradient(#222 20px, transparent 1%) center, #444;
	background-size: 22px 22px;
	background-position: 0px 0px;
}

body.no-description {
	overflow-y: hidden;
}

/* ------------------------- */

.description {
	background: #eee;
	color: #222;
	display: flex;
	/*display: none;*/
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	transition: max-height ease-in-out 0.5s;
	max-height: 1300px;
	min-height: fit-content;
	min-height: -webkit-fit-content;
}

.description-hidden {
	max-height: 0;
}

#description_area {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 600px;
	line-height: 1.5;
	font-size: 1.1em;
	padding: 1em 1em 2em 1em;
}

.description-hidden #description_area {
	display: none;
}

.description-workers {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 1em 0;
}

.description-progress-button {
	background: #7c1;
	border: 2px solid #fff;
	border-radius: 0 20px 20px 0;
	padding: 6px;
	color: #222;
	font-weight: 700;
	font-size: 0.9em;
	animation-name: progressbutton;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

.description-acknowlegements {
	color: #999;
	font-size: 0.9em;
}

.description-button {
	flex-shrink: 0;
	margin-bottom: -50px;
	z-index: 5;
	padding: 5px;
	border-radius: 0 0 100% 100%;
	border: none;
	background: #eee;
	color: #fff;
	font-weight: 700;
	font-size: 2rem;
	width: 50px;
	height: 50px;
	transition: right ease-in-out 0.5s;
	right: 50%;
}
.description-button:hover {
	background: #e55;
}
.description-button:active {
	background: #c33;
}
.description-button span {
	display: block;
	transition: transform ease-in-out 0.5s;
	/*transform: rotate(0deg);*/
}

.description-hidden .description-button {
	top: 0;
	right: 1%;
	position: absolute;
}
.description-hidden .description-button span {
	transform: rotate(180deg);
}

/* ------------------------- */

#timeline {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #ffe600;
	color: #333;
	min-height: fit-content;
	min-height: -webkit-fit-content;
}

#timeline_area {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	min-height: 35px;
	padding: 5px;
}

.week-item {
	position: absolute;
	color: #222;
	border: 2px solid #fff;
	border-radius: 100%;
	padding: 5px;
	min-width: 20px;
	min-height: 20px;
	margin-left: -15px;
	align-items: center;
	text-align: center;
	display: block;
	align-items: center;
	line-height: 20px;
	font-weight: 700;
	z-index: 1;
	background: #ffe600;
	user-select: none;
}

.week-item-now {
	position: absolute;
	width: 3px;
	background: #ffe600;
	height: 100%;
}

.week-item-now:hover::before {
	content: "now";
	background: #ffe600;
	position: relative;
	top: 4em;
	left: -1.1em;
	text-align: center;
	border-radius: 5px;
	padding: 2px;
	color: #555;
	border: 2px solid #fff;
}

.progress-button {
	position: absolute;
	left: 1%;
	background: #7c1;
	border: 2px solid #fff;
	border-radius: 0 20px 20px 0;
	padding: 6px;
	color: #222;
	font-weight: 700;
	font-size: 0.9em;
	animation-name: progressbutton;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

@keyframes progressbutton {
	0%   {background-color: #7c1;}
	50%  {background-color: transparent;}
	100% {background-color: #7c1;}
}

.progress-button:hover {
	animation: none;
	background: #8d2;
}
.progress-button:active {
	animation: none;
	background: #9e3;
}

.progress-button.cannot-progress {
	animation: none;
	background: #e99;
	color: #966;
}

/* ------------------------- */

#workers {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #555;
	min-height: fit-content;
	min-height: -webkit-fit-content;
}

#worker_area {
	background-color: #555;
	padding: 10px;
	min-height: 70px;
}

.worker-area {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#worker_area:empty::after {
	content: "(all workers have been assigned)";
	color: #bbb;
	font-style: italic;
}

.worker {
	background-color: #ccc;
	border: 2px solid #fff;
	border-radius: 50px;
	font-size: 35px;
	margin: 3px 10px;
	padding: 5px;
	text-align: center;
	width: 50px;
	height: 50px;
	touch-action: none;
	user-select: none;
	cursor: pointer;
	box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
	z-index: 99;
	display: flex;
	justify-content: center;
	align-items: center;
}
.worker:hover,
.worker:active {
	background-color: #ddd;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.7);
	z-index: 100;
}

.worker-extra {
	background-color: #da8;
}
.worker-extra:hover,
.worker-extra:active {
	background-color: #eb9;
}

#budget_header {
	margin-left: 5em;
}

#budget_header.overbudget {
	color: #f99;
}
#budget_header.overbudget::after {
	content: "⚠️";
	margin-left: 10px;
}

/* ------------------------- */

#activities {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex-grow: 1;
	/*background:
		linear-gradient(90deg, #222 20px, transparent 1%) center,
		linear-gradient(#222 20px, transparent 1%) center, #444;
	background-size: 22px 22px;
	background-position: 0px 0px;*/
}

#activity_area {
	transform-origin: 0px 0px;
	width: 100%;
	height: 100%;
	position: absolute;
}

.activity {
    box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #666;
	padding: 10px;
	border: 2px solid #333;
	border-radius: 10px;
	position: absolute;
	top: 40%;
}

.activity-can-start {
	background: #787;
}

.activity-started {
	background: #ca3;
}

.activity-cannot-progress {
	background: #d78;
}

.activity-completed {
	background: #353;
}

.drag-active .can-accept-workers {
	border: 2px dashed #7d7;
}
.drag-active .cannot-accept-workers {
	border: 2px solid #d55;
}
.drag-active .activity-completed {
	border: 2px solid #333;
}

#activity_start {
	left: 1%;
}

.activity-icon {
	align-self: start;
	font-size: 1.3em;
	margin-bottom: 0.6em;
}
.activity-icon:last-child {
	margin-bottom: 0;
}
.activity-icon span {

}

.activity-description {
	align-self: start;
	font-size: 0.8em;
	max-width: 100%;
	margin-bottom: 0.6em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.activity-worker-zone {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	box-sizing: border-box;
	min-height: 70px;
	width: 100%;
	min-width: 70px;
	border: 1px dashed rgba(255,255,255,0.3);
	border-radius: 7px;
	box-shadow: inset 2px 2px 10px rgba(0,0,0,0.1);
	padding: 5px;
}

.activity-worker-zone:empty {
	display: none;
}

/* ------------------------- */

.arrow {
	position: absolute;
	height: 2px;
	background: #4cd;
	transform-origin: left;
	z-index: 1;
}

.arrow::before {
	content: "•";
	position: absolute;
	left: -4px;
	top: -14px;
	font-size: 28px;
	color: #4cd;
}

.arrow::after {
	content: ">";
	position: absolute;
	right: 0;
	top: -11px;
	font-size: 20px;
	color: #4cd;
}
