html, body {
	width: 100%;
	height: 100%;
}

body {
	background: #222;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	color: #eee;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	overflow-y: hidden;
}

h1, h2, h3, h4 {
	margin: 1em 0 0 0;
}

p {
	align-self: flex-start;
}

a {
	text-decoration: none;
}
a:hover,
a:active {
	text-decoration: underline;
}

/* ------------------------- */

.description {
	background: #eee;
	color: #222;
	/*display: flex;*/
	display: none;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	transition: max-height ease-in-out 0.5s;
	max-height: 1000px;
}

.description-hidden {
	max-height: 0;
}

#description_area {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 600px;
	line-height: 1.5;
	font-size: 1.1em;
}

.description-button {
	flex-shrink: 0;
	margin-bottom: -50px;
	z-index: 5;
	padding: 5px;
	border-radius: 0 0 100% 100%;
	border: none;
	background: #eee;
	color: #fff;
	font-weight: 700;
	font-size: 2rem;
	width: 50px;
	height: 50px;
	transition: right ease-in-out 0.5s;
	right: 50%;
}
.description-button:hover {
	background: #e55;
}
.description-button:active {
	background: #c33;
}
.description-button span {
	display: block;
	transition: transform ease-in-out 0.5s;
	/*transform: rotate(0deg);*/
}

.description-hidden .description-button {
	top: 0;
	right: 1%;
	position: absolute;
}
.description-hidden .description-button span {
	transform: rotate(60deg);
}

/* ------------------------- */

#timeline {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #ffe600;
	color: #333;
}

#timeline_area {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	min-height: 35px;
	padding: 5px;
}

.week-item {
	position: absolute;
	color: #222;
	border: 2px solid #fff;
	border-radius: 100%;
	padding: 5px;
	min-width: 20px;
	min-height: 20px;
	margin-left: -15px;
	align-items: center;
	text-align: center;
	display: block;
	align-items: center;
	line-height: 20px;
	font-weight: 700;
	z-index: 1;
	background: #ffe600;
	user-select: none;
}

.week-item-now {
	position: absolute;
	width: 2px;
	background: #ffe600;
	height: 100%;
}

.progress-button {
	position: absolute;
	left: 1%;
	background: #7c1;
	border: 2px solid #fff;
	border-radius: 0 20px 20px 0;
	padding: 6px;
	color: #222;
	font-weight: 700;
	font-size: 0.9em;
	animation-name: progressbutton;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

@keyframes progressbutton {
	0%   {background-color: #7c1;}
	50%  {background-color: transparent;}
	100% {background-color: #7c1;}
}

.progress-button:hover {
	animation: none;
	background: #8d2;
}
.progress-button:active {
	animation: none;
	background: #9e3;
}

.progress-button.cannot-progress {
	animation: none;
	background: #e99;
	color: #966;
}

/* ------------------------- */

#workers {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #555;
}

#worker_area {
	background-color: #555;
	padding: 10px;
}

.worker-area {
	display: flex;
	flex-direction: flex-row;
	align-items: center;
	justify-content: center;
}

.worker {
	background-color: #ccc;
	border: 2px solid #fff;
	border-radius: 50px;
	font-size: 35px;
	margin: 3px 10px;
	padding: 5px;
	text-align: center;
	width: 50px;
	touch-action: none;
	user-select: none;
	cursor: pointer;
	box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
	z-index: 99;
}
.worker:hover,
.worker:active {
	background-color: #ddd;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.7);
	z-index: 100;
}

.worker-extra {
	background-color: #da8;
}
.worker-extra:hover,
.worker-extra:active {
	background-color: #eb9;
}

/* ------------------------- */

#activities {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex-grow: 1;
	background:
		linear-gradient(90deg, #222 20px, transparent 1%) center,
		linear-gradient(#222 20px, transparent 1%) center, #444;
	background-size: 22px 22px;
	background-position: 0px 0px;
}

#activity_area {
	transform-origin: 0px 0px;
	width: 100%;
	height: 100%;
	position: absolute;
}

.activity {
    box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #666;
	padding: 10px;
	border: 2px solid #333;
	border-radius: 10px;
	position: absolute;
	top: 40%;
}

/* TODO fix this */
.drag-active .activity:hover,
.drag-active .activity:active {
	border: 2px dashed #b99;
}

.activity-can-start {
	background: #676;
}

.activity-started {
	background: #c84;
}

.activity-cannot-progress {
	background: #d78;
}

.activity-completed {
	background: #464;
}

.activity-can-accept-workers {
	/*TODO*/
}
.activity-cannot-accept-workers {
	/*TODO*/	
}

#activity_start {
	left: 1%;
}

.activity-icon {
	align-self: start;
	font-size: 1.3em;
	margin-bottom: 0.6em;
}
.activity-icon:last-child {
	margin-bottom: 0;
}
.activity-icon span {

}

.activity-description {
	align-self: start;
	font-size: 0.8em;
	max-width: 100%;
	margin-bottom: 0.6em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.activity-worker-zone {
	display: none;
	min-height: 70px;
	width: 100%;
	min-width: 70px;
	border: 1px dashed rgba(255,255,255,0.3);
	border-radius: 7px;
	box-shadow: inset 2px 2px 10px rgba(0,0,0,0.1);
}
